@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body{
  /* background: #e0eafc; */
  background: #e0f3fc;
}

.upload-section{
  position: relative;
  margin: auto;
  max-width: 800px;
  width: 60%;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.05);
}


.upload-section .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.upload-section .top p{
  font-size: 0.9rem;
  font-weight: 600;
  color: #878a9a;
}

.upload-section .top button{
  outline: 0;
  border: 0;
  --webkit-appearance: none;
  background: #5256ad;
  color: #fff;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 0.8rem;
  padding: 8px 13px;
}

.top button:active{
  transform: translateY(5px);
}

input[type="file"]{
  display: none;
}

form{
  width: 100%;
  height: 160px;
  border-radius: 5px;
  border: 2px dashed #d5d5e1;
  color: #c8c9dd;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  background: #dfe3f259;
  box-shadow: 0 8px 32px 0 #dfe3f259;
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-top: 20px;
}

form .select{
  color: #5256ad;
  margin-left: 7px;
  cursor: pointer;
}

form input{
  display: none;
}

form .dragover{
  border-style: solid;
  font-size: 2rem;
  color: #c8c9dd;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.34);
}

.image-field{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.image-field .image{
  height: 85px;
  width: 85px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0 , 0, 0.15);
  overflow: hidden;
  position: relative;
  margin-bottom: 7px;
  margin-right: 7px;
}
.image-field .image:nth-child(4n){
  margin-right: 0;
}

.image-field .image img{
  height: 100%;
  width: 100%;
}

.image-field .image span{
  position: absolute;
  top: -4px;
  right: 5px;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}

.image-field .image span:hover{
  opacity: 0.8;
}

.drag-area p{
  margin: 5px;
  text-align: center;
  font-size: 10px;
}

/* feature section */
.section-1{
  background-color:  #c2f1ff;
}
section span{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-head{
  margin-bottom: 60px;
}

.section-head h4{
  position: relative;
  padding: 0;
  color: #5256ad;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.section-head h4 span{
  font-weight: 700;
  padding-bottom: 5px;
  color: #000e7b;
}

.section-head p{
  color: #818181;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.item{
  background: #c2f1ff;
  color: black;
  text-align: left;
  padding: 30px 25px;
  justify-content: left;
  box-shadow: 0 0 25px rgba(75, 75, 75, 0.07);
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item:hover{
  background: #5256ad;
  box-shadow: 0 8 20px rgba(0, 0, 0, 0.02);
  color: whitesmoke;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item .icon{
  font-size: 30px;
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

.item p{
  font-size: 15px;
  line-height: 26px;
}

.item h6{
  margin-bottom: 20px;
  color: #000000;
}
